$container-padding: 24px 20.8px;
$container-border-radius: 32px;

$upper-bottom-container-padding: 5rem;
$side-container-padding: 2.25rem;

$full-container-padding: $upper-bottom-container-padding $side-container-padding;

$button-padding: 0.5rem 24px;
$button-border-radius: 100px;
$button-line-height: 3rem;

$icon-margin-right: 0.5rem;

$elevated-shadow: 0 2px 6px rgb(0 0 0 / 50%);

$system-fallback-fonts: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$theme-transition-speed: 0.25s;
@mixin theme-transition {
	transition:
		background $theme-transition-speed ease,
		color $theme-transition-speed ease;
}
