@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
::-webkit-scrollbar {
  background: #23005c;
  background: var(--md-sys-color-background);
}

::-webkit-scrollbar-thumb {
  border-radius: 32px;
  background-color: #e9ddff;
  background-color: var(--md-sys-color-inverse-surface);
}

::selection {
  background: #23005c;
  color: #e9ddff;
  background: var(--md-sys-color-inverse-on-surface-dark);
  color: var(--md-sys-color-inverse-surface-dark);
}

body {
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  min-height: 100vh;
  background-color: var(--md-sys-color-background);
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  user-select: none;
}

.light-theme, .dark-theme {
  transition: background 0.25s ease, color 0.25s ease;
}

.has-cover.gh-head-open .gh-head {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-on-tertiary-container);
  background-color: var(--md-sys-color-tertiary-container);
}

.site-header-content {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-on-primary-container);
  background-color: var(--md-sys-color-primary-container);
  border-radius: 0rem 0rem 32px 32px;
  overflow: hidden;
  clip-path: inset(0 round 0rem 0rem 32px 32px);
}

.home-template.has-cover .gh-head {
  color: var(--md-sys-color-on-primary-container);
}

.has-cover .gh-head-button, .footer-cta-button span {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-on-secondary);
  background-color: var(--md-sys-color-secondary);
  transition: background 0.25s ease, color 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0.5rem 24px;
  border-radius: 100px;
  text-decoration: none;
  line-height: 3rem;
  font-weight: normal;
}
.has-cover .gh-head-button > .material-symbols-rounded, .footer-cta-button span > .material-symbols-rounded {
  margin-right: 0.5rem;
}
.has-cover .gh-head-button:hover, .footer-cta-button span:hover {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-secondary-container);
  background-color: var(--md-sys-color-on-secondary-container);
}

.footer-cta-button span {
  height: 44px;
}

.site-header-cover {
  -webkit-mask: linear-gradient(to right, transparent 45%, #000);
  mask: linear-gradient(to right, transparent 45%, #000);
  position: fixed;
  opacity: 40%;
  z-index: -1;
}

.gh-search, .gh-burger {
  color: inherit;
}

.has-cover:not(.home-template) .gh-head {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-on-primary-container);
  background-color: var(--md-sys-color-primary-container);
}

.site-footer {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-on-primary-container);
  background-color: var(--md-sys-color-primary-container);
  border-radius: 32px 32px 0 0;
  display: flex;
  flex-direction: column;
  margin: max(18vmin, 64px) 0 0;
  padding-bottom: 4rem;
}
.site-footer__scroll-header {
  margin-top: -11rem;
  margin-bottom: 4rem;
  justify-content: center;
  display: flex;
}
.site-footer__scroll-to-top-container {
  transition: background 0.25s ease, color 0.25s ease;
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-on-primary);
  background-color: var(--md-sys-color-primary);
  -webkit-mask-image: url(svg/m3-zany-square.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  mask-image: url(svg/m3-zany-square.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  width: 12rem;
  height: 12rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.site-footer__scroll-to-top-container:hover {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-primary-container);
  background-color: var(--md-sys-color-on-primary-container);
}
.site-footer__scroll-icon {
  font-size: 4rem;
}
.site-footer__links {
  display: flex;
  grid-gap: 16px;
  margin-bottom: 4rem;
  align-self: center;
}
.site-footer__link {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-primary);
  background-color: var(--md-sys-color-on-primary);
  padding: 10px;
  width: 48px;
  height: 48px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}
.site-footer__link:hover {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-primary-container);
  background-color: var(--md-sys-color-on-primary-container);
}

.site-footer .inner > * a,
.site-footer-nav a {
  color: var(--md-sys-color-on-primary-container);
}

.site-footer .copyright a {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-primary-container);
  background-color: var(--md-sys-color-on-primary-container);
  border-radius: 16px;
  padding: 8px;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  letter-spacing: normal;
}

.site-footer .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-gap: 0;
  gap: 20px;
  font-size: 1.5rem;
}
.site-footer .inner > * {
  text-align: center;
}

.site-footer-nav a {
  margin-left: 0;
}

.site-footer-nav ul {
  margin-bottom: 0rem;
}

.post-card {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-on-tertiary-container);
  background-color: var(--md-sys-color-tertiary-container);
  border-radius: 32px;
  overflow: hidden;
}

.post-card.dynamic {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-on-primary-container);
  background-color: var(--md-sys-color-primary-container);
}

.post-card-large, .post-card-large .post-card-content-link {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-on-secondary-container);
  background-color: var(--md-sys-color-secondary-container);
}

.post-card-large .post-card-meta-date, .post-card-large .post-card-meta-length {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-secondary);
  background-color: var(--md-sys-color-on-secondary);
}

.post-card-meta, .post-card-meta > * {
  flex-wrap: wrap;
}

.post-card-content {
  padding: 24px 20.8px;
}

.post-card-large > .post-card-content {
  padding-left: 0;
}
@media (max-width: 991px) {
  .post-card-large > .post-card-content {
    padding-left: 24px;
  }
}
.post-card-large > .post-card-content--author {
  padding: 24px 20.8px;
}

.post-card-content-link {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-on-tertiary-container);
  background-color: var(--md-sys-color-tertiary-container);
}

.post-card.dynamic > * .post-card-content-link {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-on-primary-container);
  background-color: var(--md-sys-color-primary-container);
}

.post-card-primary-tag {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-on-primary);
  background-color: var(--md-sys-color-primary);
  transition: background 0.25s ease, color 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0.5rem 24px;
  border-radius: 100px;
  text-decoration: none;
  line-height: 3rem;
}
.post-card-primary-tag > .material-symbols-rounded {
  margin-right: 0.5rem;
}
.post-card-primary-tag:hover {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-primary-container);
  background-color: var(--md-sys-color-on-primary-container);
}

.post-card-image {
  border-radius: 32px;
  overflow: hidden;
}

.post-card-image-link {
  margin-bottom: 0px;
}

.post-card-excerpt {
  margin-bottom: 2rem;
}

.post-card-meta {
  margin-top: auto;
}

.post-card-meta-date, .post-card-meta-length {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-secondary);
  background-color: var(--md-sys-color-on-secondary);
  transition: background 0.25s ease, color 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0.5rem 24px;
  border-radius: 100px;
  text-decoration: none;
  line-height: 3rem;
  min-width: max-content;
  flex-flow: row;
}
.post-card-meta-date > .material-symbols-rounded, .post-card-meta-length > .material-symbols-rounded {
  margin-right: 0.5rem;
}
.post-card-meta-date:hover, .post-card-meta-length:hover {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-secondary-container);
  background-color: var(--md-sys-color-on-secondary-container);
}
.post-card-meta-date__icon, .post-card-meta-length__icon {
  font-size: 1.5rem;
  margin-right: 0rem;
}

.post-card-meta > * + :not(script):before {
  display: none;
}

.gh-content > blockquote:not([class]), .gh-content > dl, .gh-content > ol, .gh-content > p, .gh-content > ul {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-on-secondary-container);
  background-color: var(--md-sys-color-secondary-container);
  padding: 0% 24px 20.8px;
  padding-top: max(3.2vmin, 24px);
  margin-top: 0px !important;
}

.gh-content > p:first-of-type {
  border-radius: 32px 32px 0px 0px;
}
.gh-content > p:last-of-type {
  border-radius: 0px 0px 32px 32px;
}
.gh-content > p:only-of-type {
  border-radius: 32px;
}

.article-title, .footer-cta-title, .article-excerpt {
  color: var(--md-sys-color-on-background);
}

.article-tag a {
  color: var(--md-sys-color-on-primary);
}

.article-byline {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-on-primary);
  background-color: var(--md-sys-color-primary);
  border-radius: 32px;
  padding: 1.5rem;
}

.byline-meta-content {
  display: inline-flex;
  gap: 1rem;
}

.byline-meta-date,
.byline-reading-time {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-primary);
  background-color: var(--md-sys-color-on-primary);
  transition: background 0.25s ease, color 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0.5rem 24px;
  border-radius: 100px;
  text-decoration: none;
  line-height: 3rem;
}
.byline-meta-date > .material-symbols-rounded,
.byline-reading-time > .material-symbols-rounded {
  margin-right: 0.5rem;
}
.byline-meta-date:hover,
.byline-reading-time:hover {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-primary-container);
  background-color: var(--md-sys-color-on-primary-container);
}

.author-name a {
  color: var(--md-sys-color-on-primary);
}

.footer-cta-button {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-on-secondary-container);
  background-color: var(--md-sys-color-secondary-container);
  border: none;
  border-radius: 32px;
  padding: 1rem 2rem;
}

.gh-canvas .article-image, .kg-card {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-on-tertiary);
  background-color: var(--md-sys-color-tertiary);
  border-radius: 32px;
  overflow: hidden;
}
.gh-canvas .article-image figcaption, .gh-canvas .article-image figcaption > *, .kg-card figcaption, .kg-card figcaption > * {
  color: var(--md-sys-color-on-tertiary);
}

figcaption {
  padding: 1.5rem;
}

.gh-content :not(.kg-card):not([id]) + .kg-card {
  margin-top: 6vmin;
  margin-bottom: 6vmin;
}

.gh-content .kg-card + :not(.kg-card) {
  border-radius: 32px 32px 0 0;
}

p:has(+ .kg-card), p:has(+ [id]), p:has(+ hr) {
  border-radius: 0 0 32px 32px;
}

.gh-content h3 + .kg-card {
  border-radius: 0 0 32px 32px;
}

.gh-content > [id] + * {
  margin-top: 0 !important;
}

.author-avatar, .author-profile-pic-container {
  padding: 0.65rem;
}

.author-avatar, .author-profile-image, .author-profile-pic, .author-profile-pic-container {
  -webkit-mask-image: url(svg/m3-jagged-circle.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  mask-image: url(svg/m3-jagged-circle.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  margin-left: 1.5rem;
  background-color: var(--md-sys-color-secondary-container);
  border-radius: initial;
  overflow: initial;
  border: initial;
  height: initial;
  margin: initial;
}

.author-profile-pic-container {
  background-color: var(--md-sys-color-secondary);
}

.gh-content > [id] {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-on-secondary);
  background-color: var(--md-sys-color-secondary);
  padding: 2rem 24px;
  border-radius: 32px 32px 0 0;
}

.author-profile-social-link {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-tertiary-container);
  background-color: var(--md-sys-color-on-tertiary-container);
  transition: background 0.25s ease, color 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0.5rem 24px;
  border-radius: 100px;
  text-decoration: none;
  line-height: 3rem;
}
.author-profile-social-link > .material-symbols-rounded {
  margin-right: 0.5rem;
}
.author-profile-social-link:hover {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-tertiary);
  background-color: var(--md-sys-color-on-tertiary);
}

.author-profile-location {
  display: flex;
  gap: 0.5rem;
  padding: 1rem 0rem;
}

.gh-announcement-bar,
.gh-announcement-bar button {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-on-primary) !important;
  background-color: var(--md-sys-color-primary) !important;
}

@media (max-width: 767px) {
  .gh-head-open.has-cover #gh-head {
    overflow-y: hidden;
  }
}

.gh-head-open.has-cover #gh-head, .gh-head-open.has-cover #gh-head .gh-head-actions {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-on-primary-container);
  background-color: var(--md-sys-color-primary-container);
}

.gh-head-menu .nav {
  flex-flow: row;
}

.gh-head-menu .nav a,
.gh-head-link,
.gh-head-actions .gh-search,
#gh-head .gh-head-brand .gh-search {
  color: var(--md-sys-color-on-primary-container);
}

.has-cover .gh-burger:after, .has-cover .gh-burger:before {
  background-color: var(--md-sys-color-on-primary-container);
}

.kg-card.kg-header-card.kg-style-light {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-on-tertiary);
  background-color: var(--md-sys-color-tertiary);
}

.kg-header-card.kg-style-light h2.kg-header-card-header {
  color: var(--md-sys-color-on-tertiary);
}

.kg-card.kg-header-card.kg-style-dark {
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--md-sys-color-tertiary-container);
  background-color: var(--md-sys-color-on-tertiary-container);
}

.kg-header-card.kg-style-dark a.kg-header-card-button {
  background: initial;
  color: initial;
}

.kg-header-card.kg-style-dark a.kg-header-card-button, .kg-header-card.kg-style-image a.kg-header-card-button, .kg-header-card.kg-style-light a.kg-header-card-button, .kg-header-card.kg-style-image a.kg-header-card-button {
  transition: background 0.25s ease, color 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0.5rem 24px;
  border-radius: 100px;
  text-decoration: none;
  line-height: 3rem;
  color: var(--md-sys-color-tertiary) !important;
  background-color: var(--md-sys-color-on-tertiary) !important;
  background: initial;
  color: initial;
}
.kg-header-card.kg-style-dark a.kg-header-card-button > .material-symbols-rounded, .kg-header-card.kg-style-image a.kg-header-card-button > .material-symbols-rounded, .kg-header-card.kg-style-light a.kg-header-card-button > .material-symbols-rounded, .kg-header-card.kg-style-image a.kg-header-card-button > .material-symbols-rounded {
  margin-right: 0.5rem;
}

.gh-content > blockquote:not([class]):before {
  background-color: var(--md-sys-color-tertiary);
}
/*# sourceMappingURL=material-you-overrides.css.map */